.userpic{
  border-radius: 100%;
  height: 150px;
  margin-top: 10%;
}

.content{
  margin: 0 auto;
  margin-bottom: 15%;
}


h2{
  color: #0b78a4;
  width: 100%;
}

span{
  margin: 40%;
}


.itempic{

  height: 150px;
}


td{
  text-align: center;

}
table{
  width: 100%;
}

.info{
  text-align: center;
  margin: 0 auto;
}

mat-expansion-panel{width: 70%;
margin: 0 auto;}

h1{
  font-size: 100px;
  line-height:100%;
}
h3{
font-size: 30px;
line-height:100%;
}

.container{
  margin-bottom: 100px;
  margin-top: 30px;
}
.type{
  margin: 150px;
  margin-bottom: 100px;
}

