<div class="content" *ngIf="auth.user$ | async as user; else not">
  <div class="container">
    <div class="type">
  <h1>Bonjour {{user.given_name}} {{user.family_name}}</h1>
    <br>
  <h3>Vos Commandes:</h3>
  </div>
</div>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let info of couple">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Commande du {{info.commande_.dateCommande | date: 'dd/MM/yyyy H:mm'}}
        </mat-panel-title>
        <mat-panel-description>
          {{info.commande_.status | removeUnderscore}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table>
        <tr *ngFor="let compo of info.compoList">
          <img class="itempic" [src]="compo.url">
          <td>{{compo.nom}}</td>
          <td>{{compo.marque}}</td>
          <td *ngIf="compo.prix">{{compo.prix}}  €</td>
        </tr>
      </table>

        <div class="info"><h2>Information sur la commande</h2>
          <p>Adresse: {{info.commande_.adresse}}</p>
          <p>Email: {{info.commande_.email}}</p>
          <p>Total: {{info.commande_.prix}} €</p>
          <br>
          <br>
          <button mat-raised-button (click)="openDialog(info.facture_.id)"> <mat-icon >print</mat-icon> Imprimer ma facture</button>
        </div>




    </mat-expansion-panel>
  </mat-accordion>

</div>

<div style="display:none;" *ngFor="let info of couple">
<div style="background-color: #0b78a4" [id]="info.facture_.id">
  <h2 >PCDO</h2>
  <br>
  <p>E-mail: {{info.facture_.email}}</p>
  <p>Adresse: {{info.facture_.adresse}}</p>
  <p>Date: {{info.facture_.dateCreation | date: 'dd/MM/yyyy H:mm'}}</p>
  <p>Référence Facture: {{info.facture_.id}}</p>
  <p>Référence Commande: {{info.commande_.id}}</p>
  <p>Paiement: {{info.facture_.typePaiement}}</p>
  <table style="border: solid;">
    <tr style="border: solid;" *ngFor="let comp of info.compoList">
      <td>{{comp.nom}}</td>
      <td>{{comp.marque}}</td>
      <td>{{comp.categorie}}</td>
      <td *ngIf="comp.prix">{{comp.prix}} €</td>
    </tr>
  </table>
  <h3>Total: {{info.facture_.prix}} € </h3>
</div>
</div>


<ng-template #not>
  <span>pas connecté</span>
</ng-template>
